body {
  background-color: #f2f2f2; /* Set a light grey background for the entire page */
}

h1 {
  color: green;
}

h3 {
  color: red;
}

h4 {
  color: burlywood;
}

#Fruits {
  background-color: #e0e0e0; /* Set a slightly darker grey for the Fruits section */
}

#TopProducers {
  background-color: #d8d8d8; /* Set a different shade of grey for the Top Producers section */
}

#Nutrients {
  background-color: #c0c0c0; /* Set another shade of grey for the Nutrients section */
}

#mangoPictures {
  background-color: #d8d8d8; /* Set a background color for the mangoPictures section */
}

ul {
  list-style-type: square;
}

.container {  
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  grid-template-rows: 1fr 1.2fr 0.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "mangoRipe mangoRipe mangoSliced"
    "mangoTree mangoTree mangoTree"
    "mangoTree mangoTree mangoTree";
}

.mangoRipe { grid-area: mangoRipe; 
width:100%;
object-fit: cover;
}

.mangoSliced { grid-area: mangoSliced; 
width:100%;
}

.mangoTree { grid-area: mangoTree;
  width:100%;
}


